{# LyricaEirinBundle:Appearance:show.html.twig #}

<h1>Appearance</h1>
<ul class="info">
    <li>Persona : {{ entity.persona }}</li>
    <li>Game : {{ entity.game }}</li>
</ul>

<ul class="record_actions">
    <li>
        <a href="{{ path('appearance') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('appearance_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('appearance_delete', { 'id': entity.id }) }}"
              method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
    <li>
        <a href="{{ path('appearance_add_role', { 'id' : entity.id }) }}">
            Add Role
        </a>
    </li>
</ul>

<ul class="roles">
    {% for role in entity.roles %}
    <li>
        {{ role }}
        <a href="{{ path('appearance_unlink_role',
                        { 'order' : role.order } ) }}">
            Unlink
        </a>
    </li>
    {% endfor %}
</ul>
